In [3]:
import pandas as pd
import numpy as np
import math

Obtendo o Banco de Dados da COVID-19 no Brasil com informações de número de casos e mortos em cada cidade.

In [11]:
dados = pd.read_csv("caso_full.csv.gz",index_col=False,header=None,squeeze=True,low_memory=False)

In [5]:
display(dados.loc[[0]])

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths

Reduzindo os dados para as cidades de Minas Gerais apenas.

In [8]:
dadosMG = dados[dados[15] == "MG"]
dadosMG = dadosMG.dropna()
dadosMG.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], dtype='int64')

In [26]:
cidade = "Virgem da Lapa"
dadosCidade = dadosMG[dadosMG[0] == cidade]
display(dadosCidade)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
634848,Araçuaí,3103405,2020-05-15,202020,36712,36708,False,False,1,2.72390,2020-05-15,0.0000,0,1,city,MG,1,0
635164,Araçuaí,3103405,2020-05-16,202020,36712,36708,False,False,1,2.72390,2020-05-16,0.0000,0,2,city,MG,0,0
635493,Araçuaí,3103405,2020-05-17,202021,36712,36708,False,False,1,2.72390,2020-05-17,0.0000,0,3,city,MG,0,0
635827,Araçuaí,3103405,2020-05-18,202021,36712,36708,False,False,1,2.72390,2020-05-18,0.0000,0,4,city,MG,0,0
636165,Araçuaí,3103405,2020-05-19,202021,36712,36708,False,False,1,2.72390,2020-05-19,0.0000,0,5,city,MG,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000917,Araçuaí,3103405,2021-08-04,202131,36712,36708,False,True,1598,4352.80017,2021-06-18,0.0238,38,447,city,MG,0,0
1001772,Araçuaí,3103405,2021-08-05,202131,36712,36708,False,True,1598,4352.80017,2021-06-18,0.0238,38,448,city,MG,0,0
1002627,Araçuaí,3103405,2021-08-06,202131,36712,36708,False,True,1598,4352.80017,2021-06-18,0.0238,38,449,city,MG,0,0
1003482,Araçuaí,3103405,2021-08-07,202131,36712,36708,False,True,1598,4352.80017,2021-06-18,0.0238,38,450,city,MG,0,0
1004337,Araçuaí,3103405,2021-08-08,202132,36712,36708,False,True,1598,4352.80017,2021-06-18,0.0238,38,451,city,MG,0,0

In [27]:
TotalCasos = pd.to_numeric(cidade[16]).sum()
print(f"Total de casos em {cidade} é {TotalCasos}")

Total de casos em VDL 1598