In [61]:
import pandas as pd
import numpy as np
import math

In [79]:
dados = pd.read_csv("caso_full.csv",index_col=False,header=None,squeeze=True,low_memory=False)

In [80]:
display(dados.loc[[0]])

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths

In [71]:
dados = dados[dados[15] == "MG"]
dados = dados.dropna()
dados.to_csv(index=T)
dados.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], dtype='int64')

In [73]:
display(dados)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
627858,Divinópolis,3122306,2020-03-08,202011,240408,238230,False,False,1,0.41596,2020-03-08,0.0000,0,1,city,MG,1,0
627860,Divinópolis,3122306,2020-03-09,202011,240408,238230,False,False,1,0.41596,2020-03-09,0.0000,0,2,city,MG,0,0
627862,Divinópolis,3122306,2020-03-10,202011,240408,238230,False,False,1,0.41596,2020-03-10,0.0000,0,3,city,MG,0,0
627864,Divinópolis,3122306,2020-03-11,202011,240408,238230,False,False,1,0.41596,2020-03-11,0.0000,0,4,city,MG,0,0
627866,Divinópolis,3122306,2020-03-12,202011,240408,238230,False,False,1,0.41596,2020-03-12,0.0000,0,5,city,MG,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005149,Wenceslau Braz,3172202,2021-08-08,202132,2548,2552,False,True,175,6868.13187,2021-06-18,0.0229,4,460,city,MG,0,0
1005150,Água Boa,3100609,2021-08-08,202132,13523,13735,False,True,511,3778.74732,2021-06-18,0.0137,7,408,city,MG,0,0
1005151,Água Comprida,3100708,2021-08-08,202132,1992,1999,False,True,169,8483.93574,2021-06-18,0.0473,8,436,city,MG,0,0
1005152,Águas Formosas,3100906,2021-08-08,202132,19247,19207,False,True,899,4670.85780,2021-06-18,0.0345,31,431,city,MG,0,0
1005153,Águas Vermelhas,3101003,2021-08-08,202132,13599,13539,False,True,402,2956.09971,2021-06-18,0.0174,7,446,city,MG,0,0

<bound method NDFrame.head of                       0        1           2       3       4       5      6   \
627858       Divinópolis  3122306  2020-03-08  202011  240408  238230  False
627860       Divinópolis  3122306  2020-03-09  202011  240408  238230  False
627862       Divinópolis  3122306  2020-03-10  202011  240408  238230  False
627864       Divinópolis  3122306  2020-03-11  202011  240408  238230  False
627866       Divinópolis  3122306  2020-03-12  202011  240408  238230  False
...                  ...      ...         ...     ...     ...     ...    ...
1005149   Wenceslau Braz  3172202  2021-08-08  202132    2548    2552  False
1005150         Água Boa  3100609  2021-08-08  202132   13523   13735  False
1005151    Água Comprida  3100708  2021-08-08  202132    1992    1999  False
1005152   Águas Formosas  3100906  2021-08-08  202132   19247   19207  False
1005153  Águas Vermelhas  3101003  2021-08-08  202132   13599   13539  False

            7    8           9           10      11  12   13    14  15 16 17
627858   False    1     0.41596  2020-03-08  0.0000   0    1  city  MG  1  0
627860   False    1     0.41596  2020-03-09  0.0000   0    2  city  MG  0  0
627862   False    1     0.41596  2020-03-10  0.0000   0    3  city  MG  0  0
627864   False    1     0.41596  2020-03-11  0.0000   0    4  city  MG  0  0
627866   False    1     0.41596  2020-03-12  0.0000   0    5  city  MG  0  0
...        ...  ...         ...         ...     ...  ..  ...   ...  .. .. ..
1005149   True  175  6868.13187  2021-06-18  0.0229   4  460  city  MG  0  0
1005150   True  511  3778.74732  2021-06-18  0.0137   7  408  city  MG  0  0
1005151   True  169  8483.93574  2021-06-18  0.0473   8  436  city  MG  0  0
1005152   True  899  4670.85780  2021-06-18  0.0345  31  431  city  MG  0  0
1005153   True  402  2956.09971  2021-06-18  0.0174   7  446  city  MG  0  0

[370801 rows x 18 columns]>

In [ ]:
dados.to_csv (r'C:\GitHub\TP-iCD\dados_MG.csv', index = False, header=True)