In [3]:
import pandas as pd
import numpy as np
import math

Obtendo o Banco de Dados da COVID-19 no Brasil com informações de número de casos e mortos em cada cidade.

In [11]:
dados = pd.read_csv("caso_full.csv.gz",index_col=False,header=None,squeeze=True,low_memory=False)

In [5]:
display(dados.loc[[0]])

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths

Reduzindo os dados para as cidades de Minas Gerais apenas.

In [8]:
dadosMG = dados[dados[15] == "MG"]
dadosMG = dadosMG.dropna()
dadosMG.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], dtype='int64')

In [32]:
cidade = "Belo Horizonte"
dadosCidade = dadosMG[dadosMG[0] == cidade]
display(dadosCidade)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
627882,Belo Horizonte,3106200,2020-03-16,202012,2521564,2512070,False,False,1,0.03966,2020-03-16,0.0000,0,1,city,MG,1,0
627888,Belo Horizonte,3106200,2020-03-17,202012,2521564,2512070,False,False,5,0.19829,2020-03-17,0.0000,0,2,city,MG,4,0
627898,Belo Horizonte,3106200,2020-03-18,202012,2521564,2512070,False,False,10,0.39658,2020-03-18,0.0000,0,3,city,MG,5,0
627908,Belo Horizonte,3106200,2020-03-19,202012,2521564,2512070,False,False,18,0.71384,2020-03-19,0.0000,0,4,city,MG,8,0
627918,Belo Horizonte,3106200,2020-03-20,202012,2521564,2512070,False,False,20,0.79316,2020-03-20,0.0000,0,5,city,MG,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000941,Belo Horizonte,3106200,2021-08-04,202131,2521564,2512070,False,True,226544,8984.26532,2021-06-18,0.0243,5503,507,city,MG,0,0
1001796,Belo Horizonte,3106200,2021-08-05,202131,2521564,2512070,False,True,226544,8984.26532,2021-06-18,0.0243,5503,508,city,MG,0,0
1002651,Belo Horizonte,3106200,2021-08-06,202131,2521564,2512070,False,True,226544,8984.26532,2021-06-18,0.0243,5503,509,city,MG,0,0
1003506,Belo Horizonte,3106200,2021-08-07,202131,2521564,2512070,False,True,226544,8984.26532,2021-06-18,0.0243,5503,510,city,MG,0,0
1004361,Belo Horizonte,3106200,2021-08-08,202132,2521564,2512070,False,True,226544,8984.26532,2021-06-18,0.0243,5503,511,city,MG,0,0

In [33]:
TotalCasos = pd.to_numeric(dadosCidade[16]).sum()
TotalObitos = pd.to_numeric(dadosCidade[17]).sum()
print(f"Total de casos em {cidade} é {TotalCasos}")
print(f"Total de óbitos em {cidade} é {TotalObitos}")

Total de casos em Belo Horizonte é 226544
Total de óbitos em Belo Horizonte é 5503