In [3]:
import pandas as pd
import numpy as np
import math

Obtendo o Banco de Dados da COVID-19 no Brasil com informações de número de casos e mortos em cada cidade.

In [11]:
dados = pd.read_csv("caso_full.csv.gz",index_col=False,header=None,squeeze=True,low_memory=False)

In [5]:
display(dados.loc[[0]])

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths

Reduzindo os dados para as cidades de Minas Gerais apenas.

In [42]:
dadosMG = dados[dados[15] == "MG"]
dadosMG = dadosMG.dropna()
dadosMG.columns
#Convertendo para número algumas colunas 
dadosMG[16] = pd.to_numeric(dadosMG[16])
dadosMG[17] = pd.to_numeric(dadosMG[17])

Escolhendo uma cidade específica para conhecer melhor algumas informações do dataset.

In [43]:
cidade = "Florestal"
dadosCidade = dadosMG[dadosMG[0] == cidade]
display(dadosCidade)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
638502,Florestal,3126000,2020-05-25,202022,7533,7461,False,False,1,13.27492,2020-05-25,0.0000,0,1,city,MG,1,0
638905,Florestal,3126000,2020-05-26,202022,7533,7461,False,False,1,13.27492,2020-05-26,0.0000,0,2,city,MG,0,0
639318,Florestal,3126000,2020-05-27,202022,7533,7461,False,False,1,13.27492,2020-05-27,0.0000,0,3,city,MG,0,0
639744,Florestal,3126000,2020-05-28,202022,7533,7461,False,False,2,26.54985,2020-05-28,0.0000,0,4,city,MG,1,0
640182,Florestal,3126000,2020-05-29,202022,7533,7461,False,False,2,26.54985,2020-05-29,0.0000,0,5,city,MG,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001165,Florestal,3126000,2021-08-04,202131,7533,7461,False,True,288,3823.17802,2021-06-18,0.0417,12,437,city,MG,0,0
1002020,Florestal,3126000,2021-08-05,202131,7533,7461,False,True,288,3823.17802,2021-06-18,0.0417,12,438,city,MG,0,0
1002875,Florestal,3126000,2021-08-06,202131,7533,7461,False,True,288,3823.17802,2021-06-18,0.0417,12,439,city,MG,0,0
1003730,Florestal,3126000,2021-08-07,202131,7533,7461,False,True,288,3823.17802,2021-06-18,0.0417,12,440,city,MG,0,0
1004585,Florestal,3126000,2021-08-08,202132,7533,7461,False,True,288,3823.17802,2021-06-18,0.0417,12,441,city,MG,0,0

In [44]:
TotalCasos = dadosCidade[16].sum()
TotalObitos = dadosCidade[17].sum()
print(f"Total de casos em {cidade} é {TotalCasos}")
print(f"Total de óbitos em {cidade} é {TotalObitos}")

Total de casos em Florestal é 288
Total de óbitos em Florestal é 12